.leaflet-container {
  height: 580px;
  width: 800px;
  }

.basemaps-container select{
  color: white;
  position: absolute;
  font-size: 15px;
  top: 20px;
  right: 20px;
  z-index: 1000;
  height: auto;
  width: auto;
  border-radius: 4px;
  background-color: #282828;
}

.basemaps-container select {
  width: 230px;
  height: 25px;
}



.legend-container{
  width: 200px;
  height: 200px;
  padding: 15px;
  color: white;
  position: absolute;
  font-size: 15px;
  bottom: 20px;
  left: 20px;
  z-index: 1000;
  height: auto;
  width: auto;
  border-radius: 4px;
  background-color: #282828;

  p{
    margin: 0 0 5px 0;
  }
}

.scale-container{
   background: linear-gradient(to bottom, hsl(0, 0%, 100%), hsl(0, 100%, 50%));
   width: 50px;
   height: 100px;
}

.legend-information-container{
  display: flex;
  flex-direction: row;
}

.max-min-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px 5px;


  div{
      padding: 0;
      margin: 0;
  }
}

.flag-for-popUp{
  display: flex;

  img{
    margin-right: 5px;
  }
}

.leaflet-div-icon{
  border-radius: 50%;
  border: none;
  background: red;
}
