.global-statistics {
  width: 180px;
  height: 140px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(40, 40, 40);

  .global-statistics__title {
    color: white;
    font-size: 16px;
    margin-bottom: 14px;
  }

  .global-statistics__list {
    
  }
}