.country-statistics {
  width: 100%;
  height: 100%;
  background-color: rgba(40, 40, 40, .9);
  border: solid rgb(40, 40, 40) 4px;
  display: flex;
  flex-direction: column;

  .country-statistics__header {
    position: relative;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-bottom: solid rgba(40, 40, 40, 1) 4px;
    background-color: rgb(40, 40, 40);
  }

  .main-block {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
      
    .country-statistics__top {
      height: 30px;
      display: flex;
      justify-content: space-between;
      
      .country-block {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        .country-flag {
          width: 20px;
          height: 20px;
          margin-right: 5px;
        }
  
        .country-title {
          color: white;
        }
      }
    }

    .statistic-date {
      position: absolute;
      left: 5px;
      bottom: 5px;
      color: white;
      opacity: .7;
      font-size: .9em;
    }
  }

  /*========== Modal ==========*/
  .statistics-modal {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 50px 0;

    .statistics__items {
      width: 100%;
      height: 50px;
      padding: 0 30px;
      margin-top: 260px;
      .statistics__title, .statistics__number {
        font-size: 1.4em;
      }
    }

    .statistic-date {
      width: 100%;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      opacity: .7;
      font-size: 2em;
    }
  }
}