.statistic-switcher {
  width: 30%;
  display: flex;
  justify-content: space-between;

  .switcher-title {
    color: white;
    margin: 8px 0 0 7px;
  }

  .switcher-swap {
    width: 27px;
    height: 27px;
    margin: 5px;
    padding: 4px;
    border: 0;
    border-radius: 50%;
    background-color: rgb(55, 55, 55);
    transition: .2s;
    cursor: pointer;

    &:hover, &:focus {
      background-color: rgb(70, 70, 70);
    }

    &:active {
      opacity: 1;
    }
  }
}

.statistic-switcher.num {
  .switcher-title {
    color: white;
    margin-right:7px;
  }
}
