.statistic-switcher {
  width: 30%;
  display: flex;
  justify-content: space-between;

  &.day {
    justify-content: flex-start;
  }

  &.num {
    justify-content: flex-end;
  }

  .switcher-title {
    color: white;
    margin: 8px 0 0 7px;
  }

  .switcher-swap {
    width: 27px;
    height: 27px;
    transition: .2s;
    cursor: pointer;
    margin: 5px;
    padding: 4px;
    background-color: rgb(55, 55, 55);
    border-radius: 50%;

    &:hover, &:focus {
      background-color: rgb(70, 70, 70);
    }

    &:active {
      opacity: 1;
    }
  }
}

.statistic-switcher.num {
  .switcher-title {
    color: white;
    margin-right:7px;
  }
}
