* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  background-color: rgba(50, 50, 50, .7);
  font-size: 16px;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.main {
  width: 100%;
  height: calc(100vh - 40px);
  display: flex;

  .left-section {
    width: 60%;
    height: 100%;
    background-color: rgb(40, 40, 40);
  }
  
  .right-section {
    width: 40%;
    height: 90%;
    padding: 5px;
    display: flex;
    flex-direction: column;
  
    .right-section__top {
      height: 40%;
      display: flex;
      flex-direction: row;
    }
  
    .right-section__middle {
      height: 20%;
      margin-top: 10px;
    }
  
    .right-section__bottom {
      width: 100%;
      height: 40%;
      border: solid white 2px;
    }
  }
}